@model CarsByRuss.Models.Car
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center">Vehicle Details</h2>
<ul class="list-group">
    <li class="list-group-item"><strong >Make: </strong> @Model.Make</li>
    <li class="list-group-item"><strong >Model: </strong> @Model.Model</li>
    <li class="list-group-item"><strong >Year: </strong> @Model.Year</li>
    <li class="list-group-item"><strong >Miles: </strong> @Model.Miles</li>
    <li class="list-group-item"><strong>Color: </strong> @Model.Color</li>
</ul>
<div>
    <a class="btn btn-sm btn btn-success glyphicon glyphicon-arrow-left pull-left" asp-action="Index" asp-route-userId="@Model.UserId"></a>
    <a class="btn btn-sm btn btn-warning pull-right" asp-route-id="@Model.Id" asp-action="Edit">Edit</a>
</div>



